/* Global styles for the page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    /* Only background image for the entire page */
    background: url('Background-pic.png') no-repeat center center fixed;
    background-size: cover; /* Ensures the background covers the whole viewport */
}

/* Styling for the header */
header {
    background-color: rgba(28, 28, 28, 0.8); /* Light transparent background */
    color: #4CAF50;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(28, 28, 28, 0.8); /* Light transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for headers (h1, h2) */
h1, h2 {
    color: #4CAF50; /* Green color for headings */
}

/* Styling for the footer */
footer {
    background-color: rgba(28, 28, 28, 0.8); /* Light transparent background */
    color: #4CAF50;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

